html,
body { 
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #00a;
}

#container {
  margin: 20px 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.4em;
}

  #container ul, li {
    margin-top: 0;
    padding-top: 0;
  }

  #head {
    padding-bottom: 20px;
  }
    #head h1 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0.1em 0;
      padding: 0;
    }

  #primary {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 500px;
  }
    #primary p {
      margin: 0 0 15px;
      line-height: 1.4em;
    }
